.navbar {
    padding: 11.5px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(30, 32, 45, 0.55) 0%,
        rgba(60, 70, 90, 0.36) 100%
    );
    backdrop-filter: blur(18px) saturate(146%);
    box-shadow: 0 6px 24px rgba(24, 28, 45, 0.11);
    -webkit-backdrop-filter: blur(18px) saturate(146%);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.5px solid rgba(255,255,255,0.08);
}

.navbar .logo{
    width: 140px;
    margin-left: 10px;
}

.navbar .profile{
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.navbar .profile:hover{
    transform: scale(1.1);
}

.login-conditon{
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.login-conditon:hover{
    background: rgba(235, 241, 255, 0.10);                       
    color: #fff;
    border: 1px solid #609aff;                                   
    box-shadow: 0 0 0 4px rgba(140,168,255,0.15);
    backdrop-filter: blur(6px) saturate(125%);
    transform: scale(1.04) translateY(-1px);
}


@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    } 
    .navbar .profile{
        width: 35px;
    }
    .login-conditon{
        padding: 8px 25px;
        font-size: 15px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    } 
    .navbar .profile{
        width: 32px;
    }
    .login-conditon{
        padding: 7px 20px;
        font-size: 14px;
    }
}