.login-popup {
    width: 75vw;
    height: 80vh;
    display: grid;
    place-items: center;
}

.login-popup-container {
    border: 1px solid tomato;
    width: max(23vw, 330px);
    color: #808080;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 80px 70px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    box-shadow:
        0 14px 56px 0 rgba(30, 41, 72, 0.23),       /* deep diffused shadow */
        0 3px 24px rgba(166,136,250,0.09),           /* faint blue-purple digital luxe */
        0 1.5px 12px rgba(255,255,255,0.10); 
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-left: -23px;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 13px;
    border-radius: 4px;
    width: 260px;
    align-self: center;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    width: 260px;
    align-self: center;
}

@media (max-width:650px) {
    .login-popup {
        width: 100vw;
        height: 100vh;
        margin: 0;
        place-items: center;
    }
    .login-popup-container{
        width: 100%;
        padding: 25px 10px;
    }
    .login-popup-title{
        justify-content: center;
    }
}